<h5 class="mb-3">Elenco candidati</h5>



{% if candidati|length == 0 %}
  <div class="alert alert-warning" role="alert">
    Nessun candidato presente.
  </div>
{% else %}
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead class="table-light">
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th>Cognome</th>
          <th>Documento</th>
          <th>Validità</th>
          <th>Check-in</th>
          <th style="width:1%"></th>
        </tr>
      </thead>
      <tbody>
        {% for c in candidati %}
          <tr class="{{ 'table-success' if c.checkin_effettuato else 'table-danger' }}">
            <th scope="row">{{ loop.index }}</th>
            <td>{{ c.first_name }}</td>
            <td>{{ c.last_name }}</td>
            <td>{{ c.document_number }}</td>

            <td>
              {% if c.validita_documento == 'valido' %}
                <svg class="icon icon-success" aria-label="Documento valido">
                  <use href="/static/svg/sprites.svg#it-check-circle"></use>
                </svg>
              {% else %}
                <span class="badge bg-danger">Scaduto</span>
              {% endif %}
            </td>

            <td>
              {% if c.checkin_effettuato %}
                <span class="badge bg-success">Effettuato</span>
              {% else %}
                <span class="badge bg-secondary">Non effettuato</span>
              {% endif %}
            </td>

             <td class="text-nowrap">
            <button
              class="btn btn-sm {{ 'btn-outline-danger' if c.checkin_effettuato else 'btn-outline-success' }}"
              hx-post="/sessione/{{ sessione_id }}/candidato/{{ c.candidato_id }}/toggle_checkin"
              hx-headers='{"X-CSRFToken":"{{ csrf_token() if csrf_token is defined else "" }}"}'
              hx-trigger="click"
              hx-target="body"
              hx-swap="none"
              data-block-ui>
              {{ 'Disabilita' if c.checkin_effettuato else 'Conferma' }}
            </button>
          </td>

          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}
