<!-- templates/footer.html -->
<footer class="it-footer bg-light mt-5">
  <div class="it-footer-main">
    <div class="container-xxl">
      <div class="row">
        <div class="col-12 col-md-8">
          <p class="mb-1">Realizzato da Daniele Ramacci CNR - Consiglio Nazionale delle Ricerche</p>
          <p class="mb-1"><a href="/privacy-policy">Privacy Policy</a></p>
        </div>
        <div class="col-12 col-md-4 text-md-end text-start mt-3 mt-md-0">
          <small class="d-block">Versione: {{ version or "n/d" }}</small>
          <small class="d-block">Aggiornato: {{ build_time or "n/d" }}</small>
        </div>
      </div>
    </div>
  </div>
  <div class="it-footer-small-prints bg-dark text-white">
    <div class="container-xxl">
      <div class="row">
        <div class="col text-center py-3">
          <small>&copy; {{ current_year }} CNR Ufficio Reclutamento - Tutti i diritti riservati.</small>
        </div>
      </div>
    </div>
  </div>
</footer>
