<!-- templates/header.html -->
<header class="it-header-wrapper" data-bs-target="#header-nav">
  <div class="it-header-slim-wrapper">
    <div class="container-xxl">
      <div class="row">
        <div class="col-12">
          <div class="it-header-slim-wrapper-content">
            <a class="d-none d-lg-block navbar-brand" href="/">Sistema Gestione Presenze Concorsi CNR</a>
            <div class="it-header-slim-right-zone">
              <div class="it-access-top-wrapper">
                {% if session.get('token') %}
                  <a class="btn btn-outline-light btn-sm" href="/me">Area riservata</a>
                {% else %}
                  <a class="btn btn-primary btn-sm" href="/login">Accedi</a>
                {% endif %}
              </div>
            
              
            </div>
          </div>
         
        </div>
      </div>
    </div>
  </div>

  {% set current_email = session.get('user_email') %}
  {% set can_access_prove = current_email and (has_role(current_email, ROLE_ADMIN) or has_role(current_email, ROLE_ESPERTO)) %}
  <div class="it-nav-wrapper">
    <div class="it-header-center-wrapper theme-light">
      <div class="container-xxl">
        <div class="row">
          <div class="col-12">
            <nav class="navbar navbar-expand-lg has-megamenu">
              <button class="custom-navbar-toggler" type="button" aria-controls="nav4" aria-expanded="false" aria-label="Toggle navigation" data-bs-target="#nav4">
                <svg class="icon">
                  <use href="/static/svg/sprites.svg#it-burger"></use>
                </svg>
              </button>
              <div class="navbar-collapsable" id="nav4" style="display:none;">
                <div class="overlay" style="display:none;"></div>
                <div class="close-div sr-only">
                  <button class="btn close-menu" type="button">
                    <span class="visually-hidden">Nascondi la navigazione</span>
                    <svg class="icon">
                      <use href="/static/svg/sprites.svg#it-close-big"></use>
                    </svg>
                  </button>
                </div>
                <div class="menu-wrapper">
                  <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    {% if can_access_prove %}
                    <li class="nav-item"><a class="nav-link" href="/prove/tutti">Tabella concorsi esperto informatico</a></li>
                    <li class="nav-item"><a class="nav-link" href="/prove/miei">I miei concorsi</a></li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
