  <!-- Sidebar Bootstrap Italia -->
    <aside class="col-md-2 p-0 sidebar-wrapper it-line-left-side">
      <div class="sidebar-linklist-wrapper">
        <div class="link-list-wrapper">
          <ul class="link-list">
            <li><h3 class="m-3">Navigazione</h3></li>
            <li><a class="list-item medium active" href="/"><span>Dashboard</span></a></li>
            <li><a class="list-item medium" href="/me"><span>Me</span></a></li>
            <li><a class="list-item medium" href="/dispositivi"><span>Dispositivi</span></a></li>
            <li><a class="list-item medium" href="/scanner"><span>Scanner</span></a></li>
          </ul>
        </div>
      </div>
    </aside>