<!-- Sidebar Bootstrap Italia -->
<aside class="col-md-2 p-0 sidebar-wrapper it-line-left-side">
  <div class="sidebar-linklist-wrapper">

    {% if sessione %}
      <div class="p-3 border-bottom bg-light">
        <h6 class="mb-1 text-uppercase text-primary fw-bold">{{ sessione.nome }}</h6>
        <small class="d-block">{{ sessione.luogo }}</small>
        <small class="text-muted">{{ sessione.giorno }} alle {{ sessione.ora }}</small>
      </div>
    {% endif %}

    <div class="link-list-wrapper">
      <ul class="link-list">
        <li><h3 class="m-3">Navigazione</h3></li>
        <li><a class="list-item medium active" href="/"><span>Concorsi</span></a></li>
        <li><a class="list-item medium" href="/dispositivi?session_id={{ sessione.session_id }}"><span>Dispositivi</span></a></li>
      </ul>
    </div>
  </div>
</aside>
